body{
    background-color: aquamarine;
    margin: auto 0;
    text-align: center;
    font-size: 2em;
}



ul{
    display: inline-flex;
}
ul li {
    margin: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}